<h2 mat-dialog-title>New Card</h2>
<mat-dialog-content class="content">
  <mat-form-field appearence="standard">
    <mat-label>Enter the title</mat-label>
    <input matInput />
  </mat-form-field>

  <div class="task-container" *ngFor="let task of tasksLoop; let idx = index">
    <mat-form-field appearence="standard" class="task-input">
      <mat-label>Task {{ idx + 1 }}</mat-label>
      <input [(ngModel)]="tasks[idx]" matInput />
    </mat-form-field>
    <button (click)="deleteTask(idx)" mat-icon-button>
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
  <button (click)="addTask()" mat-button>Add Task</button>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button (click)="create()">Create</button>
</mat-dialog-actions>
